.list-diseases {
    height: 67.3vh;
}
.list-diseases-container {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.list-diseases-container a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 30px;
    background-color: rgb(3, 226, 255);
    color: black;
    border-radius: 10px;
    border: 2px solid blue;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}
.list-diseases-container a:hover {
    background-color: greenyellow;
    border: 2px solid black;
    color: black;
    border-radius: 20px;
}

@media only screen and (max-width: 520px) {
    .list-diseases-container {
        padding-top: 100px;
        padding-bottom: 110px;
    }
}